<section class="page-header{% unless page.url == "/" %} small{% endunless %}">
  <a href="{{ site.baseurl }}/"><h1 class="project-name">{{ site.title }}</h1></a>
  <h2 class="project-tagline">{{ site.description }}</h2>

  <button class="btn mobile-nav-trigger js-mobile-nav-trigger">Menu</button>

  <div class="project-navigation js-mobile-nav-container">
    <a href="{{ site.baseurl }}/" class="btn">Latest News</a>
    <a href="{{ site.baseurl }}/about.html" class="btn">About the Course</a>
    <a href="{{ site.baseurl }}/register.html" class="btn">Register</a>
    <a href="{{ site.baseurl }}/participant_information.html" class="btn">Participant Information</a>
  </div>

</section>
