<section class="page-footer">

  <div class="main-content footer-grid">
    <div class="column">
      <p>Wood Badge S6-713-17-1</p>
      <p>
        <a href="http://scbsa.org/">Sequoyah Council, BSA</a><br>
        P. O. Box 3010<br>
        Johnson City, Tennessee 37602<br>
        (423) 952-6961
      </p>
    </div>
    <div class="column">
      <p><a class="has-image" href="https://www.facebook.com/groups/1187117388007853/"><img src="{{ '/assets/images/FB-f-Logo__white_29.png' | relative_url }}" alt="Find us on Facebook" style="opacity: 0.8"></a></p>
      <p><a href="mailto:info@scwoodbadge.org">Contact Us</a></p>
      <p><a href="http://staff.scwoodbadge.org/" title="Staff Access">Staff Access</a></p>
    </div>
  </div>

</section>
