---
---

@import "{{ site.theme }}";

$bp-small: 42em;

section.page-header {
  background-color: #fff;
  background-image:
    // then add the desired background image
    // this image was created using ImageMagick's "convert" utility from
    // original maclaren_tartan.jpg using this command:
    // convert -resize 200 MacLaren_Tartan.jpg -blur 8x4 -alpha on -channel a -evaluate set 60% tartan_background.png
    url('../images/tartan_background.png');

  .btn {
    background-color: #669977;
    &:hover {
      background-color: #669477;
    }
  }

  &.small {
    padding: 1rem;

    .project-name {
      font-size: 1.25em;
      margin: 0 auto 1rem;
    }

    .project-tagline {
      font-size: 1em;
      margin: 0 auto 1rem;
    }

    .btn {
      @media screen and (min-width: #{$bp-small}) {
        margin-bottom: 0;
        padding: .5em 1em;
        font-size: .75rem;
      }
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.page-footer {
  $footer-bg-color: mix($body-text-color, black);

  background-color: $footer-bg-color;
  color: #fff;

  a {
    color: #adb;
    display: inline-block;

    &:hover {
      color: #8b9;
    }

    &.has-image img {
      max-height: 1.5rem;
      vertical-align: middle;
    }
  }
}

.footer-grid {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: #{$bp-small}) {
    flex-direction: row;
  }

  .column {

    & + .column {
      border-top: 1px solid $border-color;
      padding-top: .75rem;
    }

    @media screen and (min-width: #{$bp-small}) {
      width: 50%;

      & + .column {
        border-top: 0;
        margin-left: 1.5rem;
        padding-top: 0;
      }
    }
  }
}

// mobile nav styles
.mobile-nav-trigger {
  @media screen and (min-width: #{$bp-small}) {
    display: none;
  }
}

.project-navigation {
  display: none;

  @media screen and (min-width: #{$bp-small}) {
    display: block;
  }

  &.is-toggled {
    display: block;
  }
}

p.page-date {
  margin-top: 0;
  font-size: .75rem;
}
