---
---

@import "{{ site.theme }}";

$bp-small: 42em;

section.page-header {
  background-image:
    // first, apply a gradient to subdue the background image
    linear-gradient(
      to bottom,
      rgba(#024, .75),
      rgba(#024, .55)
    ),
    // then add the desired background image
    url('../images/maclaren_tartan.jpg');

  &.small {
    padding: 1rem;

    .project-name {
      font-size: 1.25em;
      margin: 0 auto 1rem;
    }

    .project-tagline {
      font-size: 1em;
      margin: 0 auto 1rem;
    }

    .btn {
      @media screen and (min-width: #{$bp-small}) {
        margin-bottom: 0;
        padding: .25em .5em;
      }
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

// mobile nav styles
.mobile-nav-trigger {
  @media screen and (min-width: #{$bp-small}) {
    display: none;
  }
}

.project-navigation {
  display: none;

  @media screen and (min-width: #{$bp-small}) {
    display: block;
  }

  &.is-toggled {
    display: block;
  }
}
